@import url('fonts.css');

/* ========================================================================
   Styles
   ========================================================================== */
html {
	height: 100%;
}

body {
    /*font-family: "Lato", "helvetica neue", "helvetica", sans-serif;*/
    font-family: "Lato", sans-serif;
	background: url('../images/background_14.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
		    background-size: cover;
	/*
    background-size: 100% 100%;
    */
    height: 100%;
    background-repeat: no-repeat;
	color: #fff;
}


/* ==============
   Header Info
   ============== */

header {
	background-color: rgba(0,0,0, 0.7);
	margin: 		  .5em 0 2em;
    padding: 		  .5em;
	position: 		  relative;
}

header .title {
	color: 		 #759CBF;
 	float: 		 left;
    font-size:   3em;
    font-family: 'Lobster Two', 'Lato';
}

/* ==============
   Navigation
   ============== */

nav {
	float:   right;
	margin-top: 2em;
	/*(margin:  2em 3em 0;*/
}
nav ul {
    margin:  0;
    padding: 0;
}

nav li {
	display: inline;
}

nav a {
	color: 			 #759CBF;
	display: 		 inline-block;
	font-size: 		 1.1em;
    font-family: 	 'Lato';
	padding: 		 0em 1em;
	text-align:      center;
	text-decoration: none;
 	text-transform:  uppercase;
}

nav a:hover,
nav a:visited {
/*	    color: white;*/
}

nav a:hover {
    text-decoration: none;
}

nav a.selected {
	border-radius: 5px;
	box-shadow: 0px 2px 0px rgba(117,156,191, .9);
}
	

/* ==============
   Main
   ============== */

.main {

	background-color: 	   rgba(0,0,0, .8);
 	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		    border-radius: 2px;
   
	width: 90%;
	min-height: 500px;
	margin: 0 auto; 
}

/**
 * 	Main article content
 */

.main section {
	margin: 0 0 2em;
}

.main article {
    padding: 0em 1em;
}

.main article h2 {
    color: 	   		#759CBF;
    font-size: 		1.3em;
    text-transform: capitalize;
}

.main article p {
    padding: 0 1em;
}

.main article ul {
	margin: 0;
	list-style: none;
}

.main article a, a:hover, a:visited {
	text-decoration: none;
}

/* used for page under construction */
.main article .construction {
	font-size: 1.5em;
	margin: 2em;
}

/* Main content */
.main .content {
	float: left;
	width: 75%;
}


/**
 * 	Main aside
 */

.main aside {
    float: left;
    width: 25%;
}

.main aside h3 {
    color: #759CBF;
    text-transform: capitalize;
}
.main aside p {
	font-size: 1em;
    color:   #fff;		
}
.main aside span {
	text-transform: capitalize;
}
	
/* ==============
   Footer
   ============== */
	
.footer-container {
    margin: 0 auto;
}

footer {
    color: white;
}
	


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
	nav li {
		display: list-item;
	}
}

@media only screen and (max-width: 750px) {

	nav li {

	}
	
	.main .content {
		width: 100%;
	}
	
	.main aside {
		width: 100%;
	}
	
	.main aside .content {
		margin: 0 1em;
	}

}
/*
@media only screen and (min-width: 1140px) {
	nav {
		margin-top: 1em;
	}	
	nav li {
		padding: 2em;
		display: inline;
	}
}*/

/* ==========================================================================
   Helper clases
   ========================================================================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
